%rebase('base.html', naslov='skupina', stran='skupine')

<div class="container mt-5">
    <h1>{{ skupina.ime }}</h1>
    
    % if napaka:
      {{ napaka }}
    % else:
    <img src="data:image/png;base64,{{ chart_base64 }}" alt="Chart">
    
    <div class="container md-4">   
        <div class="row">
            <!-- First row -->
            <div class="col-md-6 d-flex align-items-center">
                <span>Izberi drug prikaz:</span>
            </div>
            <div class="col-md-6 d-flex justify-content-end align-items-center">
                <span>Izberi posamično:</span>
            </div>
        </div>
        
        <!-- Links and dropdown menu in the row below -->
        <div class="row mt-2">
            <!-- Left side: Links -->
            <div class="col-md-6">
                <ul class="list-inline mt-2 mb-0" style="color: gray;"> 
                    % if prikaz != "hiczp in iczp":
                    <li class="list-inline-item d-block"> 
                        <a href="{{url('skupina',id_skupine=skupina.id)}}" class="text-secondary">Primerjava icžp in hicžp po letih</a>
                    </li>
                    %end
                    % if prikaz != 'hiczp drzave': 
                    <li class="list-inline-item d-block"> 
                        <a href="{{url('skupinahd',id_skupine=skupina.id)}}" class="text-secondary">Primerjava hicžp med državami po letih</a>
                    </li>
                    %end
                    % if prikaz != 'utezi drzave' and skupina.id !=1: 
                    <li class="list-inline-item d-block"> 
                        <a href="{{url('skupinahu',id_skupine=skupina.id)}}" class="text-secondary">Primerjava uteži med državami po letih</a>
                    </li>
                    %end
                    % if prikaz != 'utezi' and skupina.id !=1: 
                    <li class="list-inline-item d-block"> 
                        <a href="{{url('skupinau',id_skupine=skupina.id)}}" class="text-secondary">Primerjava uteži za hicžp in icžp po letih</a>
                    </li>
                    % end 
                </ul>
            </div>
    
            <!-- Right side: Dropdown menu -->
            <div class="col-md-6 d-flex justify-content-end">
                <div class="dropdown ms-3">
                    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                        Izberi leto
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink" style="max-height: 200px; overflow-y: auto;">
                        % for leto in range(2000, 2024): 
                            <li><a class="dropdown-item" href="{{url('skupinaleto', id_skupine=skupina.id, leto=leto)}}">{{ leto }}</a></li>
                        % end
                    </ul>
                </div>
            </div>
        </div>
    </div>
  %end

</div>