%rebase('base.html', naslov='skupina_leto', stran='skupine')


<div class="container mt-5">
<h1>{{ skupina.ime }} leta {{ utez_iczp.leto }}</h1>
% if chart_base64: 
 <img src="data:image/png;base64,{{ chart_base64 }}" alt="Chart">
%end 
<div style="display: flex;">
  % if skupina.id != 1: 
    <div style="flex:1;">
      <table class="table">
        <thead>
            <tr>
                
                <th>Utež_za_icžp</th>
                <th>ICŽP</th>
                <th>Utež_za_hicžp</th>  
                <th>HICŽP</th>     
             </tr>
        </thead>
        <tr>
           <td>{{utez_iczp.utezi}}</td>           
           <td>{{utez_iczp.letni_iczp}}</td>
           <td>{{utez_hiczp.utezi}}</td>
           <td>{{utez_hiczp.harmoniziran_indeks}}</td>
        </tr>

      </table>



    </div>
  %else:
  <div style="flex:1;">
    <table class="table">
      <thead>
          <tr>
              
              <th>ICŽP</th>
              <th>HICŽP</th>     
           </tr>
      </thead>
      <tr>      
         <td>{{utez_iczp.letni_iczp}}</td>
         <td>{{utez_hiczp.indeks_inflacije}}</td>
      </tr>

    </table>



  </div>
 %end
</div>
% if cene_izdelkov: 


<div style="display: flex;">
    <div style="flex:1;">
      <table class="table">
        <thead>
          <tr>
            <th colspan="2">
              <h2 style="text-align: center; font-size: 18px;">Povprečne cene izdelkov skupine {{ skupina.ime }} leta {{ utez_iczp.leto }}:</h2>
            </th>
          </tr>
            <tr>
                
                <th>Ime izdelka skupine</th>
                <th>povprečna cena</th>

             </tr>
        </thead>
      % for cena_izdelka in cene_izdelkov:
        <tr>
           <td>{{ cena_izdelka.ime_izdelka }}</td>           
           <td>{{ cena_izdelka.cena }}</td>
        </tr>
      %end
      </table>



    </div>
</div>
%end
</div>