%rebase('base.html', naslov='skupina_leto', stran='skupine')


<div class="container mt-5">
<h1>{{ skupina.ime }} leta {{ utez_iczp.leto }}</h1>

<img src="data:image/png;base64,{{ chart_base64 }}" alt="Chart">
<div style="display: flex;">

    <div style="flex:1;">
      <table class="table">
        <thead>
            <tr>
                
                <th>Utež_za_icžp</th>
                <th>ICŽP</th>
                <th>Utež_za_hicžp</th>  
                <th>HICŽP</th>     
             </tr>
        </thead>
        <tr>
           <td>{{utez_iczp.utezi}}</td>           
           <td>{{utez_iczp.letni_iczp}}</td>
           <td>{{utez_hiczp.utezi}}</td>
           <td>{{utez_hiczp.harmoniziran_indeks}}</td>
        </tr>

      </table>



    </div>
</div>
</div>